


    <div class="form-group">
      <input #screenshotInput required type="file" multiple (change)="fileChange($event)"
        class="form-control" name="screenshot">
    </div>

    <div *ngIf="(queueProgress > 0 ) && showProgress">
      <table class="table">
        <thead>
          <tr>
            <th width="15%">رویداد</th>
            <th>موقعیت</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong> زمان سپری شده </strong></td>
            <td nowrap>{{uploadTimeElapsed | number:'.1'}} second(s)</td>
          </tr>
          <tr>
            <td><strong>زمان باقیمانده </strong></td>
            <td nowrap>{{uploadTimeRemaining | number:'.1'}} second(s)</td>
          </tr>
          <tr>
            <td><strong>سرعت آپلود </strong></td>
            <td nowrap>{{uploadSpeed | number:'.3'}} MB/s</td>
          </tr>
          <tr>
            <td><strong>نمایش پیشرفت</strong></td>
            <td>
              <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                aria-valuemin="0" aria-valuemax="100" [attr.aria-valuenow]="queueProgress"
                [ngStyle]="{ 'width': queueProgress + '%' }">
                {{queueProgress}}%
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="btn btn-primary" [disabled]="isUploading" type="button" (click)="submitForm()" *ngIf="!autoUpload" >ارسال فایل</button>

