<div class="panel panel-danger">
  <div class="panel-heading">
    <div class="panel-title">فرم ویرایش گروه</div>
    </div>
    <div class="panel-body">
      <form  [formGroup]="myform" (ngSubmit)="onSubmit()">
          <div class="form-group hidden">
              <label>اندیس گروه </label>
              <input type="text" class="form-control" formControlName="ID"  [(ngModel)]="editingRecord.ID">
            </div>
        <div class="form-group">
          <label>نام گروه </label>
          <input type="text" class="form-control" formControlName="Name" [(ngModel)]="editingRecord.Name">
          <small [hidden]="myform.controls.Name.valid || (!myform.controls.Name.touched )"
           class="text-danger">
        تکمیل نام گروه الزامی  ضروری است .
      </small>
        </div>

        <button class="btn btn-primary" type="submit"  [disabled]="!myform.valid" >ثبت تغییرات </button>
<pre>
  {{editingRecord | json}}
</pre>
      </form>
    </div>

</div>
