

<div class="container" *ngIf="!VerifyCodeState">
  <form class="form-signin" [formGroup]="myform" action="index.html">
    <h2 class="form-signin-heading"> فرم تاییدیه شماره موبایل</h2>
    <div class="login-wrap">
        <input type="text" class="form-control" placeholder="Phone Number"  formControlName="mobile" [(ngModel)]="MobileVm.mobile">
        <div *ngIf="myform.controls.mobile.touched ">
        <span class="text-danger" *ngIf="!myform.controls.mobile.valid" >تکمیل فیلد شماره تلفن همراه الزامی است . </span>
</div>
        <button class="btn btn-lg btn-login btn-block" (click)=(Login()) type="submit" [disabled]="!myform.valid" >درخواست ارسال کد</button>
        <div class="registration">
     آیا قبلا ثبت نام کرده اید ؟
            <a class=""routerLink='/account/login'>
              ورود
            </a>
        </div>
    </div>
  </form>
  <pre>
    {{MobileVm | json}}
  </pre>
</div>
<app-verify-code-check *ngIf="VerifyCodeState" [PhoneNumber]="PhoneNumber" (ReturnClick)="onReturnClicked($event)"></app-verify-code-check>
