<div class="container">
  <form class="form-signin" [formGroup]="myForm" action="index.html">
    <h2 class="form-signin-heading">نرم افزار تحت وب ارتباطات کارکنان</h2>


    <div class="login-wrap">
      <input type="text" class="form-control" formControlName="firstName"  placeholder="نام" />
      <small [hidden]="myForm.controls.firstName.valid || (!myForm.controls.firstName.touched )" class="text-danger">
        تکمیل نام ضروری است .
      </small>
      <input type="text" class="form-control" formControlName="lastName"  placeholder="نام خانوادگی" />
      <div *ngIf="myForm.controls.lastName.touched && myForm.controls.lastName.errors">
        <small class="text-danger" *ngIf="myForm.controls.lastName.errors.required">
          تکمیل نام خانوادگی الزامی است .
        </small>

      </div>




      <input type="password" id="password" name="password" class="form-control" formControlName="password"  placeholder="پسورد"
      />

      <small [hidden]="myForm.controls.password.valid || (!myForm.controls.password.touched )" class="text-danger">
        تکمیل پسورد ضروری است .
      </small>




      <input type="password" class="form-control"  formControlName="confirmPassword" placeholder="تکرار پسورد"
      />

      <small [hidden]="myForm.controls.confirmPassword.valid || (!myForm.controls.confirmPassword.touched )" class="text-danger">
        پسورد با تایید آن تطابق ندارد .
      </small>

      <input type="text" class="form-control" formControlName="nationalCode" placeholder="کد ملی"
      />

      <small [hidden]="myForm.controls.nationalCode.valid || (!myForm.controls.nationalCode.touched )" class="text-danger">
     تکمیل فیلد کد ملی الزامی است .
      </small>
    <input type="text" class="form-control" formControlName="mobile" placeholder="شماره موبایل "
      />

      <small [hidden]="myForm.controls.mobile.valid || (!myForm.controls.mobile.touched )" class="text-danger">
     تکمیل فیلد شماره ملی الزامی است .
      </small>
      <div class="form-group ">

        <button class="btn btn-lg btn-login btn-block"(click)=(AddUser()) [disabled]="!myForm.valid" type="submit">ثبت نام</button>
      </div>
      <div class="login-register">
        <a href='#' routerLink='/account/login' style="cursor: pointer;">قبلا ثبت نام کرده اید .</a>
      </div>

    </div>
    <pre style="direction:ltr;text-align: left;">
      {{myForm.value | json}}
    </pre>
  </form>
</div>
