        <div class="container">
          <form class="form-signin" [formGroup]="myform" action="index.html">
            <h2 class="form-signin-heading">نرم افزار تحت وب ارتباطات کارکنان</h2>
            <div class="login-wrap">
                <input type="text" class="form-control" placeholder="Email"  formControlName="UserName">
                <span class="text-danger" *ngIf="!myform.controls.UserName.valid" >تکمیل فیلد نام کاربری الزامی است . </span>
                <input type="password" class="form-control" placeholder="Password" formControlName="Password">
                <span class="text-danger" *ngIf="!myform.controls.Password.valid">تکمیل فیلد پسورد الزامی است . </span>
                <label class="checkbox">
                    <input type="checkbox" value="remember-me" style="margin-right:0px;"/>  به خاطر داشتن

                </label>
                <button class="btn btn-lg btn-login btn-block" (click)=(Login()) type="submit">ورود</button>
                <div class="registration">
                    آیا هنوز ثبت نام نکرده اید ؟
                    <a class=""routerLink='/account/verifyphonenumber'>
                        ثبت نام
                    </a>
                </div>
            </div>
          </form>
        </div>





