<div class="panel panel-danger">
  <div class="panel-heading">
    <div class="panel-title"> فرم مدیریت مشخصات کالا</div>
  </div>
  <div class="panel-body">
<table class="table  borderless">
  <tr>
    <td>
      نام محصول
    </td>
    <td>
      <input type="text" #ProductName="ngModel" required  [(ngModel)]="AppProduct.ProductName" class="form-control" />
      <div *ngIf="ProductName.touched && ProductName.invalid"   class="alert alert-danger"  >
          وارد کردن نام محصول الزامی است .
       </div>
    </td>
  </tr>
  <tr>
    <td>
      موجود بودن کالا
    </td>
    <td>
      <input type="checkbox" [checked]="AppProduct.IsAvailable" [(ngModel)]="AppProduct.IsAvailable" />
    </td>
  </tr>
  <tr>
    <td>
      توضیحات کامل
    </td>
    <td>
      <div [froalaEditor] [(ngModel)]="AppProduct.Description"></div>
    </td>
  </tr>
  <tr>
    <td>
      تاریخ شروع نمایش
    </td>
    <td>
      <dp-date-picker dir="rtl" [(ngModel)]="AppProduct.ShowFromDate  " mode="day" theme="dp-material"></dp-date-picker>
    </td>
  </tr>
  <tr>
    <td>
      قیمت کالا
    </td>
    <td>
      <input type="text" [(ngModel)]="AppProduct.Price" class="form-control" />
    </td>
  </tr>
  <tr>
    <td>

    </td>
    <td>
      <app-file-uploader    [showProgress]="true" [autoUpload]="true"  [(fileName)]="fileName"   (fileNameChange)="fileUploadComponent()" ></app-file-uploader>
      <ul class="list-group" *ngFor="let item of AppProduct.ProductImages">
          <li class="list-group-item" >
            <span class="badge"></span>
            <img [src]="item.ImageUrl" class="img img-thumbnail" style="width:100px;height:120px;">
          </li>
        </ul>
  </tr>
  <tr>
    <td>

    </td>
    <td>
      <button type="button" [disabled]="!ProductName.valid" class="btn btn-default" (click)="saveItem()"><i class="fa fa-save"></i>   ذخیره </button>
    </td>
  </tr>

</table>

<pre style="direction:ltr;text-align :left;">
  {{AppProduct | json}} <br/>
  {{ProductName.valid}}
</pre>


  </div>
</div>
