<section id="section-comment">
  <div class="container">
<div class="detailBox">
  <div class="titleBox">
    <label>  نظرات شما </label>
      <button type="button" class="close" aria-hidden="true">&times;</button>
  </div>
  <div class="commentBox">

      <div class="taskDescription">
          <ul class="col-md-offset-1">
              <li>نظرات حاوی توهین و افترا منتشر نمی شوند .</li>
              <li>لطفا نظرات خود را به صورت فارسی بنویسید .</li>
          </ul>
        </div>
  </div>
  <div class="actionBox">
     <app-contact-list></app-contact-list>

  </div>
</div>

  </div>
  </section>

